##############################################
# BACKEND API (local development)
##############################################
NEXT_PUBLIC_API_BASE=http://localhost:8000/api
NEXT_PUBLIC_BACKEND_BASE=http://localhost:8000

##############################################
# BUILD / ANALYZE
##############################################
ANALYZE=false

##############################################
# MAPBOX
##############################################
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.__your_mapbox_token__
MAPBOX_ACCESS_TOKEN=pk.__your_mapbox_token__

##############################################
# DEVELOPMENT OPTIONS
##############################################
NODE_ENV=development
